.user {
    padding: 1.5rem;
    box-shadow: 5px 5px 10px 0 #333;
    margin-bottom: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
  }
   
   /* .users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 1rem;
    border-radius: 0.7rem;
    box-shadow: 5px 5px 10px 0 #333;
    margin: 1.5rem 0; */
  
  /* } */
  .users:hover {
    box-shadow: 5px 5px 10px 2px #333;
  }