@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
 box-sizing:border-box;
}
body {
    background-color: "9b59b6";
    display: flex;
    /* align-items: center; */
    justify-content:center;
    margin: 0;
    min-height: 100vh;
}
body {font-family: Arial, Helvetica, sans-serif;}
/* Set a style for all buttons */
.btn-reg {
  background-color: #9488c7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.user {
  padding: 1.5rem;
  box-shadow: 5px 5px 10px 0 #333;
  margin-bottom: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container-model {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top:50%;
  bottom: 0%;
  width: 80%; /* Full width */
  height: 40%; /* Full height */
 /*overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;

}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 75%;
  }
}

.container{
    background-color: rgb(236, 242, 245);
    border-radius: 5px;
    box-shadow: 0 2px  5px rgbo(0, 0, 0, 0);
    max-width: 50%;
    margin: 0;
}
.header {
    background-color: #f0e9e9f7;
    border-bottom: 1px sold #f0f0f0;
    padding: 20px 20px;
}
.header h2 {
    margin: 0;
}
.form{
    padding:40px;
}
.form-control {
    margin-bottom: 1 px;
    padding-bottom: 1 px;
    position: relative;
}
.form-control lable {
   display: initial-block;
    margin-bottom: 5px; 
}
.form-control input {
    /* display: block; */
   width: 100%;
   border: 2px solid #f0f0f0f0;
   font-size: 12px;
   font-family: inherit;
   padding: 10px;
}
.form-control.success input {
    border-color:#2ecc71;

}
.form-control.error input {
    border-color: rgb(247, 4, 4);

}
.form-control i {
    position: obsolute;
    top:40px;
    right: 10px;
    visibility: hidden;
}
.form-control.success i.fa-check-circle {
    color: rgb(10, 121, 10);
    visibility: visible;

}
.form-control.error i.fa-exclamation-circle {
    color: rgb(247, 4, 4);
    visibility: visible;

}
.todos {
  width: auto;
}


.form-control small {
    position: obsolute;
    bottom:0;
    left: 0px;
    visibility: hidden;
}
.form-control.error small {
    visibility: visible;
    color: rgb(247, 4, 4);
}

/* .form button{
    background-color: rgb(146, 126, 165);
    border: 2px;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size:16px;
    padding: 10px;
    width: 100%; */
/* } */
.font {
    font-size: 18;
    color: black;
    margin: 5px 0 ;
    font-weight: bold;

}
.btn-danger {
        padding: 5px 5px;
}






